<!DOCTYPE html>
<html>
<head>
    <title>Sentences</title>
    <style>
        .sentence {
            border: 1px solid black;
            padding: 10px;
            margin: 10px;
        }
        .selected {
            background-color: yellow;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            var currentIndex = 0;
            $(".sentence").click(function() {
                $(".sentence").removeClass("selected");
                $(this).addClass("selected");
                currentIndex = $(this).index();
            });
            $("#next").click(function() {
                var nextIndex = (currentIndex + 1) % $(".sentence").length;
                $(".sentence").eq(nextIndex).click();
            });
        });
    </script>
</head>
<body>
    {% for sentence in sentences %}
        <div class="sentence sentence-{{ loop.index0 }}">{{ sentence }}</div>
    {% endfor %}
    <button id="next">Next</button>
</body>
</html>